package-lock.json
pnpm-lock.yaml
.env
.env.*
!.env.example
logs
*.log
coverage
dist
node_modules
.idea/
test.js
cam_tests
experiments
docs/api
.nyc_output
.vscode
captures/*.pcap
scripts/__pycache__/
